@model List<RezultatModel>
@{
	ViewBag.Title = "Rezultati";
	int i = 1;
}

<style>
    /* Custom styles to remove horizontal borders and set the outline border for the second column */
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    table td, table th {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    /* Apply outline border to the second column (index 1) */
    table tr td:nth-child(2) {
        border: 1px solid black;
    }
    
    /* Remove horizontal borders from the rows */
    table tr {
        border-top: none;
        border-bottom: none;
    }
</style>
@ViewBag.ErrorMessage
<h2>Rezultati sa Turnira</h2>
<table style="width:50%;align-items:center">
    <thead>
        <tr>
            <th>Tim 1 Ime</th>
            <th>Tim 1 Broj Golova</th>
            <th>Tim 2 Broj Golova</th>
            <th>Tim 2 Ime</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var rezultat in Model)
        {
            <tr>
                <td>@rezultat.Tim_1_Ime</td>
                <td style="text-align:center">@rezultat.Tim_1_BrojGolova</td>
                <td style ="text-align:center">@rezultat.Tim_2_BrojGolova</td>
                <td>@rezultat.Tim_2_Ime</td>
                <td>
                    <a asp-action="UpdateRezultat" asp-controller="Turnir" asp-route-rezultatId="@rezultat.Id" class="btn btn-danger mb-2">Izmeni Rezultate</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    <a asp-action="IzmeniRezultate" asp-controller="Zapocni" asp-route-turnirId="@Model.First().TurnirId" class="btn btn-danger mb-2">Izmeni Rezultate</a>
    </tfoot>
</table>

<a asp-action="SacuvajTurnir" asp-controller="Zapocni" asp-route-turnirId="@Model.First().TurnirId" class="btn btn-danger mb-2">Sacuvaj Turnir</a>

